<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cy.agorise.crystalwallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".application.CrystalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Crystal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="locale"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LicenseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.IntroActivity"

            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activities.BoardActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".activities.AccountSeedsManagementActivity" >
        </activity>
        <activity android:name=".activities.ImportSeedActivity" >
        </activity>
        <activity android:name=".activities.CreateSeedActivity"
            android:noHistory="true">
        </activity>
        <activity android:name=".activities.SendTransactionActivity" >
        </activity>
        <activity android:name=".activities.GeneralSettingsActivity" >
        </activity>
        <activity android:name=".activities.CryptoCoinTransactionReceiptActivity" >
        </activity>
        <activity android:name=".activities.BackupSeedActivity"
            android:noHistory="true">
        </activity>
        <activity android:name=".activities.PinRequestActivity"
            android:noHistory="true">
        </activity>
        <activity android:name=".activities.PatternRequestActivity"
            android:noHistory="true">
        </activity>
        <activity android:name=".activities.PocketRequestActivity"
            android:noHistory="true">
            <!--<meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/tech" />-->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="https"
                    android:host="my.yubico.com"
                    android:pathPrefix="/neo"/>
            </intent-filter>

        </activity>
        <activity android:name=".activities.CryptoNetAccountSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="https"
                    android:host="my.yubico.com"
                    android:pathPrefix="/neo"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AccountsActivity"
            android:parentActivityName=".activities.BoardActivity"
            android:theme="@style/ActivityDialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BoardActivity" />
        </activity>

        <service
            android:name=".service.CrystalWalletService"
            android:exported="false" />

        <activity android:name=".activities.CreateContactActivity">
        </activity>
    </application>

</manifest>