<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cy.agorise.crystalwallet">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="cy.agorise.crystalwallet.application.CrystalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Crystal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BoardActivity"
            android:theme="@style/AppTheme.NoActionBar" > <!-- Dirty trick to avoid toolbar error on balance -->
        </activity>
        <activity android:name=".activities.AccountSeedsManagementActivity" >
        </activity>
        <activity android:name=".activities.ImportSeedActivity" >
        </activity>
        <activity android:name=".activities.CreateSeedActivity" >
        </activity>
        <activity android:name=".activities.SendTransactionActivity" >
        </activity>
        <activity android:name=".activities.GeneralSettingsActivity" >
        </activity>
        <activity android:name=".activities.CryptoCoinTransactionReceiptActivity" >
        </activity>
        <activity android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".activities.AccountsActivity"
            android:theme="@style/ActivityDialog"
            android:parentActivityName=".activities.BoardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BoardActivity" />
        </activity>

        <service android:name=".service.CrystalWalletService"
            android:exported="false"/>
    </application>

</manifest>